.barra{
    border-radius: 2rem;
    width: 35rem;
    height: 2rem;
    border-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15rem;
    margin-left: 30%;
}

.bt-derecha{
    float: right;
    border-radius: 2rem;
    border-color: grey;
    width: 10rem;
    height: 3rem;
}
.margen{
    display: flex;
    justify-content: flex-end;
}
.margen-derecha {
    margin-right: 1rem; /* Ajusta el margen entre el segundo botón y el borde de la pantalla */
}

.margin{
    margin-left: 5rem;
    margin-right: 5rem;
}
.titulo{
    text-align: center;
    margin-top: 15rem;
    font-size: 4rem;

}
.barra, .submit{
    display: block; /* Los convierte en elementos de bloque para ocupar el ancho disponible */
    margin: 10px auto;
}
.red{
    color: #eb4d40;
}
.green{
    color: #34a853;
}
.yellow{
    color: #fbbc05;
}
.blue{
    color: #4285f4;
}
.submit{
    border-radius: 2rem;
    margin-top: 1rem;
    width: 15rem;
    height: 2rem;
    background-color: white;
    border-color: #C3C3C3;
}

.submit:hover{
    background-color:#4285f4 ;
    color: white;
    transform: scale(1.05);
}