.barra{
    border-radius: 2rem;
    width: 35rem;
    height: 2rem;
    border-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    margin-left: 30%;
}
.barra:hover{
    box-shadow: 2px 2px grey;
}
.marg{
    margin-top: 1rem;
}
.marg2{
    margin-top: 5rem;
}
.marg2 p{
    display: inline;
}
.espacio{
    margin-top: 3rem;
}
.barra2{
    width: 35rem;
    height: 1.5rem;
    border-color: white;
    flex-direction: column;
    text-align: left;
    align-items: left;
    margin-bottom: 10px;
    box-shadow: inset;
}
.barra2:focus{
    outline: 2px solid #4285f4;

}
.align{
    margin-left: 4rem;
}
.align2{
    margin-left: 2.5rem;
}
.align3{
    margin-left: 2rem;
}
.bt-derecha{
    float: right;
    border-radius: 2rem;
    border-color: grey;
    width: 10rem;
    height: 3rem;
}
.margen{
    display: flex;
    justify-content: flex-end;
}
.margen-derecha {
    margin-right: 1rem; /* Ajusta el margen entre el segundo botón y el borde de la pantalla */
}

.margin{
    margin-left: 5rem;
    margin-right: 5rem;
}
.pero{
    text-align: center;
    margin-left: 13.5rem;
    font-size: 1.25rem;
    margin-top: 0;
}
.titulo{
    text-align: center;
    margin-top: 8rem;
    font-size: 6rem;
    margin-bottom: 0;

}
.si{
    margin-bottom: 0px;
}
.titulo2{
    text-align: center;
    margin-top: 3rem;
    font-size: 4rem;

}
.barra, .submit{
    display: block; /* Los convierte en elementos de bloque para ocupar el ancho disponible */
    margin: 10px auto;
}
.red{
    color: #eb4d40;
}
.green{
    color: #34a853;
}
.yellow{
    color: #fbbc05;
}
.blue{
    color: #4285f4;
}
.submit{
    border-radius: 2rem;
    margin-top: 1rem;
    width: 15rem;
    height: 2rem;
    background-color: white;
    border-color: #C3C3C3;
}

.submit:hover{
    background-color:#4285f4 ;
    color: white;
    transform: scale(1.05);
}

.submit2{
    border-radius: 2rem;
    margin-top: 1rem;
    width: 15rem;
    height: 2rem;
    background-color: white;
    border-color: #C3C3C3;
}

.submit2:hover{
    background-color:#34a853 ;
    color: white;
    transform: scale(1.05);
}
.barra, .submit2{
    display: block; /* Los convierte en elementos de bloque para ocupar el ancho disponible */
    margin: 10px auto;
}
.feelucky-btn{
    text-decoration: none;
}
