{% extends "auctions/layout.html" %}

<h1>All Products by Categories</h1>
  

{% block body %}
{% for category, listings in category_listings.items %}
        <h2>{{ category.category_name }}</h2>
        <ul>
            {% for listing in listings %}
                <li><a href="{% url 'listing_detail' listing.id %}">{{ listing.title }}</a></li>
            {% empty %}
                <li>No listings available in this category.</li>
            {% endfor %}
        </ul>
    {% empty %}
        <p>No categories found.</p>
    {% endfor %}
{% endblock %}