{% extends "auctions/layout.html" %}

{% block body %}
    <h1>Watchlist</h1>
    {% if watchlist_entries %}
        {% for entry in watchlist_entries %}
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{{ entry.listing.image}}" alt="{{ entry.listing.title }}" class="img-fluid">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ entry.listing.title }}</h5>
                            <p class="card-text">{{ entry.listing.description }}</p>
                            <p class="card-text"><b>Starting Bid:</b> ${{ entry.listing.starting_bid }}</p>
                            <p class="card-text"><b>Owner:</b> {{ entry.listing.owner.username }}</p>
                            <p class="card-text"><b>Category:</b> {{ entry.listing.category.category_name }}</p>
                            {% if entry.latest_bid %}
                            <p><b>Latest Bid:</b> ${{ entry.latest_bid }}</p>
                                {% if entry.last_bidder %}
                                    <p><b>Last Bidder:</b> {{ entry.last_bidder }}</p>
                                {% else %}
                                    <p><b>Last Bidder:</b> <span style="background-color: orange;">No bidders yet</span></p>
                                {% endif %}
                        {% else %}
                            <p><b>Latest Bid:</b> No Bids Yet</p>
                        {% endif %}
                            {% if entry.listing.is_active %}
                                <p style="background-color: orange; width: 16rem;"><b>Auction is still active</b></p>
                            {% else %}
                            {% if entry.has_won %}
                                <p style="background-color: green; width: 16rem;"><b>You have won the auction!</b></p>
                            {% else %}
                                <p style="background-color: red; width: 16rem;"><b>Another user has won the auction.</b></p>
                            {% endif %}
                            {% endif %}

</div>
                            
                            <!-- Formulario para eliminar el ítem del watchlist -->
                            <form action="{% url 'remove_from_watchlist' entry.listing.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Remove from Watchlist</button>
                            </form>
                            {% if entry.listing.is_active %}
                                <a href="{% url 'listing_detail' entry.listing.id %}" class="btn btn-primary">Place Bid</a>
                            {% endif %}
                            </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>Your watchlist is empty.</p>
    {% endif %}
{% endblock %}